@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Pacifico&display=swap');

:root {
    --title-font: 'Pacifico', cursive;
    --text-font: 'Gloock', serif;
    --light-color: white;
    --dark-color: black;
    --accent-color: rgba(39, 39, 39);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

header,
footer {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-family: var(--title-font);
}

header {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul,
footer ul {
    display: flex;
    gap: 10vw;
    font-size: 2.5rem;
}

header ul li:hover,
footer ul li:hover {
    border-color: var(--light-color);
    border-radius: 5px;
}

header ul li,
footer ul li {
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
}

header ul li:hover:before,
footer ul li:hover:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    border: 2px solid var(--light-color);
    z-index: -1;
    animation: border-fade 0.5s ease-in-out forwards;
}

@keyframes border-fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

main {
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--light-color);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

hr {
    border-color: var(--dark-color);
    border-style: solid;
    width: 15vw;
}

.under-construction {
    padding-top: 10vh;
}

.under-construction-container {
    position: relative;
}

.under-construction-container span {
    font-size: 2rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

input[type="email"],
input[type="text"] {
    border: 2px solid var(--dark-color);
    padding: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 15px;
}

input[type="email"],
input[type="text"] {
    width: 15vw;
    margin-bottom: 20px;
}

.subscription-button {
    border: 2px solid var(--accent-color);
    padding: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 15px;
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.about {
    display: flex;
    flex-direction: column;
}

.three-columns-content {
    display: flex;
}

.three-columns-content>* {
    flex: 1 1 0;
    width: 20vw;
}

.right-column ul {
    padding: 0;
    margin: -0.5vh;
    margin-left: -5vw;
}

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buffer {
    visibility: hidden;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 5vw;
    align-items: center;
}