@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Pacifico&display=swap');

:root {
    --title-font: 'Pacifico', cursive;
    --text-font: 'Gloock', serif;
    --light-color: white;
    --dark-color: black;
    --accent-color: rgba(39, 39, 39);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.space-between-sections {
    padding: 2vh;
}

header,
footer {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-family: var(--title-font);
}

header {
    display: flex;
    gap: 3vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 4vw;
    font-size: 2.5rem;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 2vw;
}

.vertical-line {
    border-left: 1px solid var(--light-color);
    height: 5rem;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media ul {
    display: flex;
    gap: 1vw;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

header ul li:hover {
    border-color: var(--light-color);
    border-radius: 5px;
}

header ul li {
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

header ul li:hover:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 15px;
    border: 2px solid var(--light-color);
    z-index: -1;
    animation: border-fade 1s ease-in-out forwards;
}

@keyframes border-fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

main {
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--light-color);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3vh;
}

.game-card {
    display: flex;
    gap: 5vw;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 15px;
    padding: 2vh;
}

.left-column-card {
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column-card img {
    border-radius: inherit;
    height: auto;
    width: 75%;
    margin-left: 5vw;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.game-card input[type=checkbox] {
    display: none;
}

.left-column-card [type=checkbox]:checked~label>img {
    transform: scale(2);
    cursor: zoom-out;
}

.right-column-card [type=checkbox]:checked~label>img {
    transform: scale(2);
    cursor: zoom-out;
}

.right-column-card img {
    border-radius: inherit;
    height: auto;
    width: 75%;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.game-card .vertical-line {
    height: 15rem;
}

.right-column-card {
    width: 30vw;
    font-size: 1.1em;
}

.right-column-card {
    text-align: left;
}

.zoomable-image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.zoomed-image {
    max-width: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* Add any other styles you want here */
}

hr {
    border-color: var(--dark-color);
    border-style: solid;
    width: 10vw;
}

.longer-line {
    width: 20vw;
}

.under-construction {
    padding-top: 10vh;
}

.under-construction-container {
    position: relative;
}

.under-construction-container span {
    font-size: 2rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

input[type="email"],
input[type="text"] {
    border: 2px solid var(--dark-color);
    padding: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 15px;
}

input[type="email"],
input[type="text"] {
    width: 15vw;
    margin-bottom: 20px;
}

.subscription-button {
    border: 2px solid var(--accent-color);
    padding: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 15px;
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.about {
    display: flex;
    flex-direction: column;
}

.three-columns-content {
    display: flex;
}

.three-columns-content>* {
    flex: 1 1 0;
    width: 20vw;
}

.right-column ul {
    padding: 0;
    margin: -0.5vh;
    margin-left: -5vw;
}

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buffer {
    visibility: hidden;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 5vw;
    align-items: center;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Hidden by default */
    font-size: 32px;
    line-height: 1;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
    /* Set the opacity to 0 by default */
    transition: opacity 0.5s ease-in-out;
    /* Add a transition effect to the opacity property */
}

.back-to-top.show {
    display: block;
    opacity: 1;
    /* Set the opacity to 1 when the show class is added */
}

.under-construction {
    display: none;
}